{% extends 'base.html' %}
{% block content %}
    <div class="row " style="margin-left: 2px">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'customer_create' %}">Create Customer</a>
                <br>

                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>View</th>
                    </tr>

                    {% for customer in customers %}
                        <tr>
                            <td></td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.email }}</td>
                            <td>
                                <a href="{% url 'customer' customer.pk %}">
                                    <button class="btn btn-info">View</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h5>PRODUCTS:</h5>
            <hr>

            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'product_create' %}">Create Product</a>
                <br>
                <div class="card card-body">
                    <form method="get">
                        {{ products_filter.form }}

                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                    <br>
                </div>
                <table class="table table-sm">
                    <tr>

                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    {% for product in products %}
                        <tr>
                            <td><img src="{{ product.image_url }}" alt="product have no img" style="width: 100px"></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}$</td>
                            <td>{{ product.category }}</td>
                            <td>
                                <a href="{% url 'product_update' product.pk %}">
                                    <button class="btn btn-primary" style="width: 100px">Update</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'product_delete' product.pk %}">
                                    <button class="btn btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row justify-content-center " style="margin-left: 2px">
        <div class="col-md-9">

            <h5>ORDERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'order_create' %}">Create Order</a>
                <div class="card card-body">
                    <form method="get">
                        {{ orders_filter.form }}

                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>
                    <br>
                </div>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Date Created</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>

                    {% for order in orders %}
                        <tr>
                            <td></td>
                            <td>{{ order.customer }}</td>
                            <td>{{ order.product }}</td>
                            <td>{{ order.status }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>
                                <a href="{% url 'order_update' order.pk %}">
                                    <button class="btn btn-primary" style="width: 100px">Update</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'order_delete' order.pk %}">
                                    <button class="btn btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}