.roller-books {
    padding-top: 35px;
    /*background-color: white;*/
}

.table-books {
    background-color: white;
    color: black;
    border-radius: 25px;
}

#total-orders {
    background-color: #4cb4c7;
}


#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}

.roller {
    margin-top: 5%;
    padding: 0;
    height: 100%;
    background: #7abecc !important;

}

#cart-icon {
    width: 35px;
}

.reg-icon {
    width: 20px;
}

.reg-card {
    width: 500px;
    height: 500px;
}

.login-card {
    width: 400px;
    height: 300px;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;
}

.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
    margin-bottom: 10px; !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.profile_table_container {
    margin-bottom: 45px;!important;
}
#select-day{

}